---
layout: index.pug
language: sq
permalink: /sq/
---

.header.full-width
  .contents
    h1 Mirëserdhët në 
    br
    h1 Ndihmën e parë Digjitale!
    br
    h1#sub Mjet i dizajnuar për t'ju dërguar deri te ekipi i duhur i CiviCERT

.intro
  .contents
    p Ndihma e parë digjitale është një burim falas që do t'u ndihmojë njerëzve që ndihmojnë në situata urgjente, trajnuesve për siguri digjitale, dhe aktivistëve me ekspertizë teknike që ta mbrojnë më mirë veten e tyre dhe komunitetet të cilave u shërbejnë kundër llojeve më të shpeshta të problemeve digjitale. Mund të shfrytëzohet gjithashtu edhe nga aktivistët, mbrojtësit e të drejtave digjitale, bloguesit, gazetarët ose aktivistët e mediave që duan të mësojnë se si ta mbrojnë veten e tyre dhe si t'u ndihmojnë të tjerëve. Nëse Ju apo dikush të cilit i ndihmoni ka problem digjital, Ndihma e parë digjitale do t'ju orientojë në diagnostikimin e problemeve që i keni, dhe do t'ju ofrojë mbështetje nga organizata që ofrojnë ndihmë nëse ju duhet ajo.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Me çfarë problemi përballeni?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p E kam humbur pajisjen
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Kam humbur qasjen në llogarinë time
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously') 
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Pajisja ime reagon në mënyrë të dyshimtë
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages') 
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Kam pranuar mesazhe të dyshimta
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Ueb-faqja ime nuk punon
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Dikush shtiret sikur unë në internet
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Më ngacmojnë në internet
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data') 
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Kam humbur të dhënat
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested') 
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Dikush që e njoh është arrestuar

    p.after 
      | Zgjidhni problemin me të cilin përballeni dhe Ndihma e Parë Digjitale
      | do t'ju udhëzojë përmes një sërë pyetjesh për ta diagnostikuar më mirë
      | problemin dhe për të gjetur burime që do t'ju ndihmojnë. Për problemet që nuk mund
      | t’i zgjidhini vetë, Ndihma e Parë Digjitale ka
      a(href="support/") një listë të organizatave me të cilat mund të konsultoheni
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ÇFARË TJETËR DUHET TË DINI?
          p
            | Ndihma e parë digjitale nuk synon të jetë zgjidhja përfundimtare për të gjitha
            | rastet tuaja urgjente digjitale. Nëse nuk jeni të sigurt se si t'i zgjidhni
            | problemet me të cilat përballeni, ju lutemi kontaktoni 
            a(href="support/") listën e organizatave me të cilat mund të konsultoheni
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 A NDIHENI TË MBINGARKUAR NGA STRESI?
          p
            | Ngacmimi në internet, kërcënimet dhe llojet e tjera të sulmeve digjitale
            | krijojnë një barrë të madhe mbi ndjenjat dhe shëndetin Tuaj. Lexoni
            a(href="self-care/") këshillat nga Udhëzuesi për vetë-kujdesin
            |  për të gjetur më shumë burime dhe organizata mbështetëse dhe
            | për zbutjen e problemeve.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 KUSH E KA PËRGATITUR DHE KUSH E MIRËMBAN NDIHMËN E PARË DIGJITALE?
          p
            | Ky burim është produkt i përbashkët i 
            a(href="https://rarenet.org") Rapid Response Network 
            | dhe 
            a(href="https://civicert.org") CiviCERT
            | . Shihni
            a(href="about/") faqen Për ne
            | për informacion shtesë. Ndihma e parë digjitale është projekt me kod të hapur dhe mirëpret 
            a(href="https://gitlab.com/rarenet/dfak") kontributet nga jashtë
            | .
